<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalculoAterramento</title>
</head>
<body>
    <div>
        <form method='POST'>
            {% csrf_token %}
            <input name='num_barra' placeholder='Numero de barras' required>
            <input name='l' placeholder='Comprimento da barra em m' required>
            <input name='pa' placeholder='Resistividade do solo em ohm s' required>
            <input name='d' placeholder= 'Diametro da bitola em mm' required>
            <input name='e' placeholder='Distancia entre as barras' required>
            <button type='submit'>Enviar</button>
        <form>
        {% if reposta1 %}
            <p> {{ reposta1 }} </p>
        {% endif %}
        {% if reposta2 %}
            <p> {{ reposta2 }} </p>
        {% endif %}

    </div>
</body>
</html>